HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

log.txt
/src/main/resources/application.yaml

### Dot-prefixed files and folders ###
.*
!.gitignore
!.env.example